# Diun
TZ=YOUR_TIMEZONE
DIUN_DISCORD_WEBHOOK=YOUR_WEBHOOK_HERE
DIUN_PROVIDERS_DOCKER=PROVIDERS_FOR_DIUN
DIUN_WATCH_WORKERS=
DIUN_WATCH_SCHEDULE=

# Grafana, mostly defaults
PATH=/var/lib/grafana
GF_PATHS_CONFIG=/etc/grafana/grafana.ini
GF_PATHS_HOME=/usr/share/grafana
GF_PATHS_LOGS=/var/log/grafana
GF_PATHS_PLUGINS=/var/lib/grafana/plugins
GF_PATHS_PROVISIONING=/etc/grafana/provisioning

# Peppermint
POSTGRES_USER=YOUR_POSTGRES_USERNAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DATABASE

DB_USERNAME=PEPPERMINT_DB_USERNAME
DB_PASSWORD=PEPPERMINT_DB_PASSWORD
DB_HOST=YOUR_POSTGRES_HOST
SECRET=GENERATE_A_RANDOM_64_CHARACTER_SECRET
